.control {
  position: absolute;
  background-color: gray;
  border: 1px solid black;
}

.info {
  position: absolute;
  .bussola {
    height: 150px;
    padding: 15px;
    &.norte {
      transform: rotate(0deg);
    }
    &.oeste {
      transform: rotate(90deg);
    }
    &.sul {
      transform: rotate(180deg);
    }
    &.leste {
      transform: rotate(270deg);
    }
  }
}

.grid-room {
  height: 100%;
  display: grid;
  &.grid-template {
    grid-template-columns: repeat(3, 1fr);
    > .item {
      &.parede-frente {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
      &.parede-esquerda {
        border-right: 1px solid black;
      }
      &.parede-direita {
        border-left: 1px solid black;
      }
      > .chao {
        &-centro {
          height: 100%;
          background-color: gray;
        }
        &-esquerda {
          height: 100%;
          position: relative;
          background-color: gray;
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
        &-direita {
          height: 100%;
          position: relative;
          background-color: gray;
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
        }
      }
    }
  }
}

.porta {
  z-index: 1;
  position: absolute;
  &.frente {
    width: 150px;
  }
  &.esquerda {
    transform: rotateY(180deg);
  }
  &.direita {
  }
}
