<div class="info">
  <img
    src="../assets/image/bussola.png"
    class="bussola {{ direcao }}"
    alt="bussola"
    (click)="abrirMapa()"
  />
</div>

<div class="grid-room grid-template">
  <div class="item parede-esquerda"></div>
  <div class="item parede-frente">
    <img
      *ngIf="temPortaFrente"
      src="../assets/image/porta-frente.png"
      class="porta frente"
      alt="Porta frente"
      (click)="mudaPosicao(doors.FRENTE)"
    />
  </div>
  <div class="item parede-direita"></div>
  <div class="item">
    <img
      *ngIf="temPortaEsquerda"
      src="../assets/image/porta-diagonal.png"
      class="porta esquerda"
      alt="Porta esquerda"
      (click)="mudaPosicao(doors.ESQUERDA)"
    />
    <div class="chao-esquerda"></div>
  </div>
  <div class="item">
    <div class="chao-centro"></div>
  </div>
  <div class="item">
    <img
      *ngIf="temPortaDireita"
      src="../assets/image/porta-diagonal.png"
      class="porta direita"
      alt="Porta direita"
      (click)="mudaPosicao(doors.DIREITA)"
    />
    <div class="chao-direita"></div>
  </div>
</div>
